.mainContainer{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #00474f;

}

.options{
    margin-top: 8px;
    padding: 8px;
    background: #006d75;
}

.autoWidth{
    width: 100%;
}


.colorWhite{
    color: #e6fffb;
}

.buttonsGroup{
    padding: 8px;
    background: #006d75;
}

.minWidth100px{
    min-width: 100px;
}

.overflowHidden {
    overflow-y: hidden;
}
